html {
  font-size: 16px;
  height: 100%;
}

body {
  @include font-size(15px, 24px);
  @include scrollbar;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  height: 100%;
  min-width: 1300px;
  color: $c-mine-shaft;
}

// ignore lint error
#app {
  height: 100%;
}

.app-wrap {
  @include full-flex(column);
  min-height: 100%;
}
